<h1 appHighlight>I'm in BlogList</h1>
<div>
  <a href="#" (click)="expandAll()">Expand All</a>
</div>
<app-blog-post-tile #tile *ngFor="let blogPost of blogPosts; index as i" [post]="blogPost"></app-blog-post-tile>
<!-- <app-paginator></app-paginator> -->
<!-- <mat-paginator 
  [length]="length" 
  [pageSize]="pageSize" 
  [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"> -->
<mat-paginator 
  [length]="length" 
  [pageSize]="pageSize" 
  [pageSizeOptions]="pageSizeOptions" (page)="pageEvent($event)">
</mat-paginator>
<div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div>